[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    def __repr__
    if 0:
    if False:

omit =
    /usr/local/lib/*
    */tests/*
    */pyaes/*
    */tabulate.py
    */wmi.py
    */objgraph.py

