*.tmp
*.orig
*.rej
*.pyc
*.pyo
*.class
*.swp
etc/
log/
python/
var/
test/
tmp/
out/
bin/python
opensvc/version.py
opensvc/utilities/version/version.py
bin/pkg/release_*
bin/pkg/winbuilder/wxs/opensvcfiles.wxs
.hg/
.hgignore
lib/rcLocalEnv.py
*.wixobj
*.wixpdb
*.msi
nohup.out
.project
.pydevproject
bin/init/opensvc.init
.coverage
*.example
*.exe
.idea
opensvc.iml
.tox/
usr/share/doc/template.*.*.conf
usr/share/doc/template.*.*.example
usr/share/doc/daemon.events
usr/share/man/man?/*.?
